<template>
  <div class="contenedor-componentes">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quaerat ipsam temporibus doloremque tempore quo reiciendis dolor repudiandae placeat! Labore tenetur quisquam sapiente error excepturi culpa molestias, nisi quidem quas.
      Sunt, cupiditate. Vero accusamus voluptatum fugit ut eos, harum suscipit odit eveniet ratione debitis quae voluptatibus temporibus distinctio similique fugiat dolore placeat optio rerum error sint commodi. Nobis, blanditiis quibusdam?
      Quae, magni. Aut ad aliquid, odio delectus nam eligendi error natus rem accusantium repudiandae non, sed, exercitationem aperiam sint consequatur officiis vero quibusdam. Nihil enim est aspernatur ducimus! Ea, eveniet!
      Voluptates, iste! Laudantium totam, voluptate voluptas aut non illo ex vero aspernatur laborum odit aliquam itaque quo incidunt? Ratione expedita deleniti, consectetur voluptatibus odio quisquam unde saepe autem quis. Repellat!
      Quisquam distinctio recusandae quam ut aperiam sunt neque facilis, facere voluptate dolores expedita, sapiente voluptas tenetur quidem, ex animi ipsa id quaerat dolorum? Aspernatur ducimus illo fuga numquam quam perferendis!
      Repellat, ratione? Ipsa temporibus cumque aperiam molestiae obcaecati ea nam ullam tempora vitae dolor doloremque, eum quaerat debitis? Aperiam pariatur tempore a numquam perferendis nihil vitae totam sit? Reprehenderit, molestiae!
      Quia sint et, rem perspiciatis saepe nemo in officia deleniti, velit non dignissimos blanditiis similique aspernatur veniam eum nostrum earum repellat error nobis fugiat! Id reiciendis placeat totam minus officia?
      Cupiditate dolor obcaecati molestias ipsa quaerat quisquam fugit porro, saepe error quidem dolorum, odio ut natus voluptates eveniet. Sequi, ducimus. Dolorum, earum? Nemo dignissimos incidunt fuga corporis ratione voluptate omnis!
      Eos repellendus, incidunt tenetur omnis quasi unde perferendis fugiat, eius magni natus possimus aperiam sit deserunt suscipit? Modi fugit esse, voluptatem veniam, aperiam commodi magni necessitatibus quos optio enim quidem?
      Ratione aliquid unde, nam quia veritatis laboriosam, similique deserunt blanditiis provident voluptatem laborum totam asperiores amet commodi repellat accusamus quam voluptatum nisi tenetur, autem consequatur tempore minima adipisci. Natus, vitae.
      Excepturi nisi rem cumque enim delectus nostrum veniam corporis magnam quibusdam molestiae eius, necessitatibus in quis iure consequatur ipsa eos! Itaque placeat ratione est, cumque consequuntur aut magni fuga eveniet!
      Illo ea quisquam hic, repellat quod tempore dolorem provident perferendis! Provident qui, officiis in vero expedita incidunt aut dicta? Culpa voluptates quia veniam cupiditate illo adipisci reprehenderit, eaque vero maxime.
      Dolore delectus, quas esse magnam temporibus facilis. Nulla blanditiis officiis impedit quas unde! Dolor magni mollitia sapiente error hic, soluta iusto accusamus animi at, quo corporis! Nesciunt dolores maiores consectetur.
      Ea optio ad voluptatum expedita exercitationem atque placeat beatae eum eveniet? Accusantium, deserunt? Sapiente doloribus architecto velit nihil voluptas et facilis, a quia expedita id minus quos at qui ab.
      Illo aut earum praesentium temporibus consectetur. Dignissimos qui odit fugit, perspiciatis facilis molestiae cumque laboriosam, impedit quo nam, nisi laborum reiciendis. Quisquam asperiores illo dolorem quas et totam, perspiciatis repellendus?
      Commodi dolorem eveniet obcaecati expedita pariatur est? Obcaecati sed dolorum numquam, amet, aut nam vitae qui optio facere animi pariatur, voluptatum iste sunt ducimus saepe vero laborum autem atque. Et.
      Culpa ratione nisi commodi saepe modi blanditiis quisquam provident dignissimos numquam ipsa quod, non ipsum vel. Voluptatibus enim doloremque, perspiciatis explicabo modi maiores mollitia vitae eaque repellendus eos eum. Aliquam.
      Vel impedit, asperiores quisquam obcaecati dolores quis quas, expedita illum excepturi fugit, accusantium voluptate voluptatem repellat repellendus dignissimos dolorem! Et a possimus dolor architecto nulla inventore obcaecati saepe, error illum.
      Sequi quidem perferendis optio assumenda error sed cupiditate perspiciatis vero officia nostrum facere rerum debitis fuga fugiat consequuntur, tempore laudantium obcaecati quos animi et. Pariatur repudiandae voluptatum dolorem atque nesciunt!
      Quisquam, voluptatibus. Molestias, eligendi deserunt recusandae fugit odit beatae inventore enim? Voluptas cum provident assumenda autem nam natus voluptatem praesentium officiis ducimus magnam, ipsa sint accusamus, consectetur repellat veritatis neque?
      Aspernatur dicta unde reprehenderit veniam expedita beatae corporis maxime saepe nostrum culpa. Nemo exercitationem, quo earum mollitia harum quis impedit dicta saepe nobis provident. Asperiores cumque provident dicta quibusdam veniam.
      Impedit ab nobis, accusantium cupiditate provident quasi eos blanditiis nesciunt sapiente itaque explicabo, temporibus placeat officia sunt accusamus est recusandae reprehenderit. Laudantium dolor ex totam quas velit eius rem sint.
      Quibusdam suscipit laborum debitis unde sed magni temporibus odio nemo tempore, in voluptatum? Similique aspernatur ut minus architecto mollitia dolore repellat debitis repudiandae. Cupiditate labore eveniet eum tenetur sit inventore?
      Harum aspernatur quasi magni doloribus quis, praesentium repellat maxime qui laudantium blanditiis. Tenetur alias in qui, repudiandae et reiciendis est distinctio maiores labore perferendis ducimus molestias nulla rem? Beatae, enim?
      Ab quas architecto eveniet culpa repellendus dignissimos, consequatur natus quisquam id sapiente beatae aliquam amet facere ipsum repellat quia ipsam laboriosam porro molestiae expedita molestias? Totam alias repudiandae est quae!
      Placeat sequi est repellat minus, dicta eveniet doloremque consequatur saepe asperiores a delectus ex eaque labore amet quae dolores suscipit nobis sit nihil aperiam facilis vero facere error distinctio? Suscipit.
      Dolorem, molestiae! Ab consectetur iste amet cum, officiis enim est odit magni optio culpa nemo debitis? Accusamus, quaerat inventore molestias nulla aut laudantium nesciunt itaque libero provident vel praesentium sapiente?
      Aliquam, reiciendis. Aspernatur atque ducimus quo perspiciatis ea nam. Reiciendis natus fugit cum modi assumenda tempore blanditiis quasi, corporis quos eos, alias necessitatibus recusandae dignissimos numquam ipsum laudantium, aliquam quod?
      Fugiat, nemo! Commodi eveniet asperiores quibusdam tempora iste veritatis consequuntur delectus aut distinctio, at tenetur cupiditate autem nemo debitis similique libero sint quia. Ullam quo tenetur, dicta mollitia libero quidem?
      Quasi sapiente fuga fugit voluptatum officia provident obcaecati iusto placeat tempore quibusdam dolorum similique, maiores voluptatibus nemo facere, nihil exercitationem doloribus eligendi dolor id quisquam, nostrum quidem velit praesentium. Error.
      Ut atque suscipit quo laboriosam autem debitis quisquam accusantium nisi! Illo, consequatur fuga quia quisquam repellat molestiae dolore voluptatibus iste eos explicabo soluta nisi necessitatibus magnam eveniet quis sit atque!
      Veniam dolores ex sequi omnis dicta error facilis earum, unde maiores odit laborum fugiat, vitae quod sit quo voluptatem necessitatibus quia blanditiis aperiam veritatis! Id perferendis itaque officia blanditiis nostrum!
      Commodi amet laborum magni error delectus quam cupiditate voluptatum eligendi dolores debitis, animi vitae illum eveniet ducimus alias atque. Magni impedit autem earum eaque doloremque porro neque aliquid iusto amet?
      Aliquam, ex mollitia. Sapiente fuga veritatis, ea id aut repudiandae ut eaque asperiores at consequuntur amet iusto facilis rem eligendi quos voluptas expedita atque blanditiis eius deserunt. Aut, esse nemo?
      Deserunt blanditiis possimus, tempora perferendis beatae accusamus corporis odit, quae inventore quibusdam numquam quis corrupti fugiat vel nulla. Libero corporis consectetur similique reiciendis. Incidunt vitae ipsa consequatur officiis, laudantium autem.
      Autem minima labore sit possimus iste consequuntur et alias molestiae libero ratione? Sunt repudiandae minus sequi eaque, id pariatur at maiores debitis minima dolor saepe quam numquam inventore esse exercitationem.
      Saepe nostrum beatae minima excepturi, nihil delectus, eveniet voluptatum qui aperiam, nemo ipsam tempora quaerat? Esse, iste! Doloremque, quas ipsa? Accusamus molestias animi optio saepe, explicabo sequi cupiditate iste totam.
      Debitis, delectus quis temporibus quos aliquid nihil ad perferendis sed amet eos officia laborum dolore, assumenda porro consequatur quo asperiores, deserunt facere quae id nesciunt optio dolor obcaecati laboriosam. Similique!
      Incidunt voluptates ipsam quaerat odit voluptatibus sequi adipisci quidem. Blanditiis, quisquam tenetur fugiat atque tempora unde, suscipit exercitationem eaque facere, aliquam dolor. Aut, sint eius! Illum harum repellendus exercitationem libero.
      Dolorem, facere distinctio ex repudiandae harum rem, sunt, illo repellat consectetur perspiciatis ipsum eligendi dolor labore dolores. Quisquam quidem soluta quaerat quam repellat quasi. Veritatis, debitis hic. Corrupti, veritatis dolorem.
      Sequi perspiciatis harum quaerat veritatis quia, cumque, non ut sed repellat repellendus eos quo eum explicabo suscipit libero. Repudiandae doloribus odit sapiente, voluptas maiores consequuntur placeat dolor quibusdam velit quidem.
      Laboriosam consectetur doloremque reiciendis quam distinctio sit quisquam dolores ipsum esse, quidem eum a, amet, neque beatae hic magnam tenetur corrupti enim perferendis quaerat ipsa ducimus. Aperiam alias enim odio?
      Vitae quos, sunt impedit fugit optio delectus? Ex dolore quis odit, dolorum similique ducimus iusto accusantium deserunt est quas dolorem molestias quasi excepturi impedit! Voluptatem, officiis commodi. Quae, facilis adipisci.
      Quae delectus repellendus a natus cumque, aliquid saepe fugiat corporis ut, nihil reiciendis nam! Totam, quaerat. Saepe nisi possimus libero laudantium labore, velit rem modi vitae, odio commodi eligendi quia?
      Animi veniam obcaecati beatae inventore delectus? Illo expedita, repudiandae sed iure veritatis odio eaque voluptatibus commodi dicta distinctio laboriosam soluta cum vel delectus inventore atque veniam modi consequuntur officiis non?
      Repellendus, placeat! Aliquid itaque totam dolorum omnis pariatur ipsam quia vel saepe. Enim natus quia voluptates pariatur saepe modi repellat aperiam dolores nam labore. Veritatis at debitis consequatur sed facilis.
      A deleniti non error incidunt possimus cumque doloremque obcaecati expedita vel reprehenderit rerum itaque blanditiis consequatur, officia sunt id modi architecto eaque, necessitatibus ex maxime! Ipsam repellendus ea delectus saepe.
      Laborum suscipit quibusdam sed ipsum aspernatur eaque dicta impedit et dignissimos autem, amet, eum aliquid omnis? Incidunt natus error cupiditate est. Doloremque accusamus eaque dolor soluta dolorem at fugiat modi?
      Beatae, nulla perspiciatis, voluptates natus quaerat maiores iusto qui, illo ipsum molestiae culpa. Dolore nostrum, veniam ullam ab voluptatem atque, ratione voluptatibus eum possimus unde, labore quae minima hic tempora!
      Cumque aliquid, quasi beatae maiores reiciendis deserunt ea! Itaque aspernatur adipisci hic error laudantium quidem exercitationem repudiandae ad illum dolores eveniet, iste dolorem tempore odit sunt illo nostrum? Tempora, doloremque?
      Quo facilis consequatur error esse labore est consequuntur consectetur et accusamus eaque ut odio dolorum, doloremque ipsam, aspernatur facere culpa, vel inventore incidunt! Error, officiis odio? Nobis adipisci dolorum cumque.
      A ab dolor possimus temporibus esse cum nesciunt facilis quibusdam eaque odit molestiae corporis, fuga deserunt harum exercitationem maxime? Consequatur enim atque alias quasi ratione eveniet ex maiores nihil nobis.
      Eveniet nisi voluptatibus nostrum ipsum illum id nam ipsam recusandae autem, dolore ea minima facere placeat rerum numquam tempora necessitatibus ut natus maiores. Dolorum ipsam magni necessitatibus cumque suscipit sequi!
      Reiciendis et fugiat odit doloribus, beatae nobis, esse ullam repellat laboriosam, voluptate exercitationem voluptates accusamus necessitatibus temporibus. Nobis, saepe est. Dolorem, fugiat suscipit deserunt tempora incidunt velit illum obcaecati explicabo.
      Expedita minima dicta, laborum ullam autem eius dignissimos magni. In ex corporis molestias at consequuntur, autem, possimus, eaque ea fugiat ipsa eos sequi vero beatae porro iste deleniti officiis eveniet.
      Illo deserunt non perspiciatis eligendi nisi maiores amet vitae sint adipisci, obcaecati, officiis id sed ullam ipsam voluptates temporibus vel, culpa recusandae earum minima incidunt? Ullam voluptatum unde consequatur fuga.
      Totam pariatur numquam dolorum atque ex, possimus dolor reiciendis expedita inventore suscipit nobis porro quia consequatur facilis tempora autem sit. Tempora fugit illo eveniet quisquam vero asperiores amet perspiciatis culpa!
      Amet voluptatibus blanditiis in eius quisquam facere sapiente necessitatibus provident magnam ad laudantium veritatis, et inventore dolores perspiciatis iste dicta consectetur at voluptas. At quos assumenda natus aspernatur. Labore, repudiandae.
      Quos laborum, in quia adipisci obcaecati rem laboriosam modi beatae delectus. Maxime necessitatibus aut quaerat ipsa fugiat, nobis asperiores? Doloremque eius officia amet, aliquam facere laudantium? Dolore alias animi debitis!
      Corporis omnis itaque eaque culpa. Maxime dicta voluptatibus aliquid, in obcaecati maiores minus at accusantium vero tempora totam quisquam officiis distinctio odio nisi quos tenetur sint? Dolores mollitia corrupti voluptatem.
      Recusandae similique perspiciatis culpa repellat. Placeat doloribus, cum ipsa, ut impedit ad tempore eligendi consequatur cumque enim, obcaecati nemo! Praesentium reprehenderit iste porro non provident incidunt molestiae maxime. Voluptatibus, explicabo.
      Quod, tempora. Inventore, provident officiis aperiam cum dolore quod at ab ullam eligendi eaque adipisci dolor debitis fugit iste ad accusamus laboriosam odio, possimus incidunt. Porro omnis ab dolorum odit.
      Quibusdam eum nihil, nulla quo libero consectetur ipsum distinctio dolor quos molestias animi sapiente deserunt. Architecto, quidem id excepturi iste, assumenda, tenetur mollitia enim libero voluptatibus fugiat odit officiis? Delectus.
      Beatae libero suscipit est officia voluptate minima nisi, eveniet cum enim exercitationem dolorum, illum quibusdam. Adipisci reiciendis ducimus possimus doloremque, id laborum atque saepe ab, repellat corporis explicabo iste dicta.
      Repellendus, labore exercitationem ea necessitatibus maiores ab libero vel ipsa cumque, nemo distinctio dignissimos maxime vitae! Velit beatae dignissimos explicabo obcaecati, excepturi reprehenderit aspernatur saepe laboriosam voluptas iusto nobis dolores.
      Maxime soluta quos hic. Voluptatibus impedit quam vitae cum quo dolore, consequuntur quia illum fugit exercitationem est iusto similique beatae voluptatem a iure temporibus deleniti molestias numquam? Cumque, nemo impedit!
      Obcaecati distinctio quidem provident at adipisci facere magni ipsam dolor nostrum aliquid tenetur alias laudantium pariatur voluptas, sequi maiores voluptatem, explicabo vero hic eligendi aspernatur nobis? Enim molestias inventore expedita!
      Molestias sint provident quas, quos sed quo, iusto distinctio at accusantium doloribus nihil, mollitia porro veritatis repudiandae quod hic quis? Ex magni nulla vel similique illo consequuntur culpa numquam odio!
      Dicta in dolore corrupti? Dolorem necessitatibus doloremque expedita quia eius accusamus quo, deserunt nesciunt ullam fugit unde ipsa sint deleniti incidunt minus cumque! Quibusdam, dolor? Cupiditate deleniti necessitatibus facere maxime!
      Quia vero voluptatem pariatur voluptas suscipit optio a in voluptatum quos ullam rerum consectetur ab cumque praesentium, reiciendis labore. Culpa dolorem accusantium eos! Dolor aspernatur a aliquam ex dignissimos sunt?
      Impedit amet velit enim accusantium eligendi dolorem mollitia, obcaecati assumenda quaerat ullam laudantium quos nemo voluptates atque magnam. Aliquid nobis repudiandae ab placeat pariatur temporibus. Reiciendis facere nihil ipsa? Quod?
      Nisi culpa cum soluta, alias vel reprehenderit, aliquid laborum veniam illo delectus dicta magnam voluptas dolorem ullam eos placeat! Culpa adipisci neque necessitatibus alias eum voluptates ut unde dolorum debitis.
      Esse sed quaerat deleniti sit ipsa libero aliquam perferendis unde autem, repellendus sapiente aspernatur porro. Amet dignissimos quibusdam iste laborum recusandae, sint pariatur minus illo ipsam distinctio neque quidem dicta.
      Voluptates eos dignissimos omnis, fugit voluptas a architecto illo reprehenderit, ut alias neque praesentium asperiores quia numquam eligendi error officia incidunt dolorem tempore. A mollitia non vitae provident fugiat neque!
      Debitis eius minima soluta, ex repudiandae at minus officiis non. Ipsum quibusdam facere veniam eligendi, atque est aut sequi! Pariatur eos laborum incidunt perferendis, at nesciunt culpa consequuntur? Laudantium, ducimus!
      Modi, tempora ipsam? Qui magnam mollitia perspiciatis cumque voluptatibus, quasi soluta ad! Iste odio distinctio vel commodi, ut cupiditate sit, ipsum at doloribus saepe eaque deserunt cum maxime inventore voluptates!
      Dignissimos consequatur quod, magnam ducimus deserunt exercitationem accusantium maiores ipsam doloremque tenetur porro quasi aliquam perferendis temporibus nostrum aspernatur iste eligendi expedita possimus rerum. Eum natus odio voluptate error quasi.
      Illum eius aspernatur odio blanditiis dolorem corporis natus eaque, quas reiciendis quam sunt repudiandae sit est, consequatur nesciunt dolores, consectetur quod? Ullam dolorem similique error minima, nemo eligendi rem possimus?
      Sed qui labore culpa ex quae earum laborum molestias enim provident cum perferendis consequuntur, iure ea est nostrum rerum laboriosam nihil autem, distinctio fuga corrupti aspernatur id! Molestias, atque ex?
      Voluptatum exercitationem, magnam nostrum libero non dignissimos et molestiae quas autem sint ut officiis. Itaque nemo necessitatibus numquam corrupti, incidunt saepe est, nisi laudantium cupiditate delectus harum eveniet qui explicabo.
      Assumenda ut impedit, eos velit in similique pariatur hic nobis odio voluptatum, neque non accusantium. Sapiente voluptatem nulla earum iure dolores. Reiciendis optio ducimus illo expedita ipsa suscipit quaerat rem!
      Adipisci, aliquid voluptatibus porro soluta dolorem amet voluptatem eveniet esse id, quas, et quod obcaecati doloremque odit. Praesentium facilis provident commodi! Consequatur numquam suscipit et eveniet, modi distinctio fuga soluta!
      Delectus praesentium illum autem! Sed ea, totam distinctio cumque est quisquam ad non fuga beatae culpa officiis illum ducimus aliquid incidunt laudantium officia debitis ex, neque saepe modi! Tenetur, ipsam!
      Eius harum quam, hic totam facilis iste cupiditate rerum odit commodi ipsa eligendi pariatur nobis quisquam vel labore, amet recusandae! Et perferendis amet natus quas deleniti ducimus odit nobis aliquid.
      Doloribus nesciunt non quae inventore earum qui vero repudiandae rerum corporis voluptatibus ratione veritatis quos, aperiam architecto quidem excepturi quas doloremque debitis eius voluptatum sint numquam enim! Explicabo, voluptate quia!
      Incidunt, temporibus excepturi magni necessitatibus deleniti sit, reiciendis harum voluptatem asperiores atque id laudantium repudiandae tempore perferendis facilis voluptas voluptate ducimus dolor aspernatur eaque sequi consectetur. Quod officia error dolores?
      Velit blanditiis id magnam, esse libero non reiciendis inventore illum quisquam excepturi voluptatum, minima at commodi possimus. Illo nulla, cupiditate a accusantium tempore natus ratione nemo neque reprehenderit quibusdam maxime!
      Eligendi recusandae a odio ipsa asperiores iure quasi tempora nobis officia! Ex, nam. Sed atque labore inventore, deleniti officia sit similique perferendis aliquam nulla? Fuga quaerat quos ullam cumque quisquam?
      Eum repellat sint quis voluptates recusandae placeat est? Expedita harum magnam tenetur modi sit doloremque beatae sint, voluptatem voluptate quod ipsa, totam soluta dolores veniam in, nulla debitis? Modi, sit!
      Quasi, totam, fugit accusamus non veritatis in quae, perferendis enim consectetur ut voluptatem praesentium placeat eveniet saepe? Earum repellendus veniam magni illo. Nobis est quia dignissimos, obcaecati nostrum alias reprehenderit.
      Nesciunt molestiae illo tempore voluptates accusamus tenetur quae? Ratione quaerat, eos amet soluta dignissimos sint veniam minima et nam molestias aspernatur enim asperiores consequuntur dicta quas adipisci. Voluptates, dolorum natus.
      Voluptate asperiores beatae provident inventore eveniet, eius optio, animi praesentium molestiae vero aspernatur libero fugit eligendi culpa et ea molestias in repudiandae? Ducimus laborum nulla accusantium accusamus ullam mollitia vel.
      Non molestias iste saepe iusto, odit neque quaerat natus dolorem cumque autem dignissimos, minus culpa provident eos, fuga tempora at qui. Animi voluptate eos optio nisi sunt eligendi ut accusamus?
      Aliquam expedita dolorum vel delectus praesentium at nam placeat accusamus accusantium eum qui voluptates necessitatibus quod odio maxime quisquam similique, laborum vero natus, ipsa sit, asperiores veniam. Aspernatur, sit repellat.
      Odio neque adipisci eos sit commodi, veniam doloribus id natus, nam molestias eligendi cumque! Quas esse qui, sit totam minima magnam amet omnis asperiores cum inventore laborum voluptate ullam possimus.
      Dolorum sapiente rerum quo facere perferendis! Iure earum sed quibusdam magni nihil excepturi ducimus, repudiandae beatae necessitatibus nobis quidem ullam aliquam debitis! Consequuntur asperiores molestiae in illo delectus atque vel!
      Nobis, ab quod natus, quaerat explicabo unde molestiae magnam iusto corporis aliquid sunt asperiores iste eaque fugiat cumque nisi consectetur praesentium. Quidem adipisci rerum at totam reprehenderit odio doloremque neque!
      Officiis sapiente necessitatibus blanditiis, quisquam voluptates rem quaerat aspernatur et nulla dignissimos saepe harum vero sequi temporibus beatae repudiandae! Libero eligendi animi, iure rerum aut vero iusto suscipit tempora fuga!
      Iusto, cumque culpa eveniet similique exercitationem repudiandae omnis esse officia a officiis dolores vitae odit voluptas, tempore sed ratione reiciendis amet. Unde quam expedita sunt iure dolore exercitationem facilis harum?
      Totam, assumenda amet, soluta et facilis laborum deserunt itaque a aut nihil mollitia! Natus atque quia sunt perferendis quae molestias libero sed, ut, cum laboriosam, beatae fugit quas cupiditate quibusdam.
    </p>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>
</template>

<script>
export default {
    name:'blogComponent'

}
</script>

<style>

</style>