<template>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <div class="dropdown">
          <div
            class="avatar"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="../assets/imagenes/img_avatar.png" class="imagen-responsive" />
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Mi Perfil</a>
            <a class="dropdown-item" href="#">Cambiar Contraseña</a>
            <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
        </div>
        <div></div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "headerComponent"
};
</script>

<style lang="scss">
.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  .dropdown-menu {
    top: 50px;
    left: -150px;
    box-shadow: var(--shadow-element);
  }
  .avatar {
    width: 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    overflow: hidden;
    box-shadow: var(--shadow-element);
    img {
      transition: all 0.2s;
    }
    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
</style>