<template>
  <div class="sidebarNav bg-secondary">
      <header> 
          <h5>Software Gestion</h5>
      </header>
    <ul>
        <li>
            <a
            class="menu"
            data-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            ><i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
            
            <div class="collapse" id="collapseExample">
                <div class="sub-menu">
                    <ul>
                        <li>
                            <router-link to="/servicios">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Servicios
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/nosotros">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Nosotros
                            </router-link>
                        </li>
                         <li>
                            <router-link to="/blog">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Blog
                            </router-link>
                        </li>
                    </ul>
                </div>    
            </div>
        </li>
        <li>
            <a
            class="menu"
            data-toggle="collapse"
            href="#collapseExample2"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            ><i class="fa fa-bookmark" aria-hidden="true"></i> Paginas
            </a>
            
            <div class="collapse" id="collapseExample2">
                <div class="sub-menu">
                    <ul>
                        <li>
                            <router-link to="/">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Home
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/about">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> About
                            </router-link>
                        </li>
                    </ul>
                </div>    
            </div>
        </li>
        <li>
            <a
            class="menu"
            data-toggle="collapse"
            href="#collapseExample3"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            ><i class="fa fa-leanpub" aria-hidden="true"></i> Transparencia
            </a>
            
            <div class="collapse" id="collapseExample3">
                <div class="sub-menu">
                    <ul>
                        <li>
                            <router-link to="/">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Home
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/about">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> About
                            </router-link>
                        </li>
                    </ul>
                </div>    
            </div>
        </li>
    </ul>
  </div>
</template>

<script>
import servicioComponent from "../components/inicio/Servicios"
import nosotrosComponent from "../components/inicio/Nosotros"
import blogComponent from "../components/inicio/Blog"
export default {
  name: "sidebarComponent",
  components:[
      servicioComponent,
      nosotrosComponent,
      blogComponent
  ]
};
</script>

<style lang="scss">
.sidebarNav {
    height: 100%;
  header{
      padding: 15px;
      background: var(--bg-color);
      min-width: 200px;
      min-height: 58px;
      h5{
          margin: 0;
          color: #fff;
          font-weight: normal;
      }
  }
  .menu{
    display: block;
    padding: 15px;
    width: 100%;   
    color: var(--font-secondary); 
    border-bottom: 1px solid rgba(14, 30, 37, 0.16);
    &:hover{
        color: var(--font-primary);
        background: var(--base-secondary);
    }
  }
  .sub-menu{
      background: var(--bg-color);
       ul li a{
           display: block;
           padding: 5px 15px;
           color: #fff;
           &:hover{
               background: #45494d8e;
           }
           i{
               font-size: 12px;
           }
       }
       
    }
  i{
      width: 30px;
      font-size: 24px;
      text-align: center;
  }
}
</style>