@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
/*VARIABLES*/
:root {
  --font-primary: #6e767e;
  --font-secondary: #a1aebb;
  --font-h: #212529;
  --bg-color: #2c2f33;
  --base-primary: #0761cf;
  --base-secondary: #eff1f3;
  --shadow-primary: 0 20px 20px rgba(14, 30, 37, 0.16);
  --shadow-element: 0 5px 10px rgba(14, 30, 37, 0.16);
}

/*GLOBALES*/
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p {
  color: blue;
}
ul,
li {
  list-style: none;
}
a {
  transition: all 0.4s;
}
a,
a:hover {
  text-decoration: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea.form-control:focus {
  border-color: rgba(7, 97, 207, 0.8);
  box-shadow: none;
  outline: 0 none;
}

/*UTILIDADES*/
.imagen-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.contenedor-componentes{
  padding: 20px 30px;
}
