<template>
  <div class="app">
    
    <div class="contenedor">
      <div class="sidebar">
          <sidebarComponent></sidebarComponent>
      </div>
      <div class="rutas">
        <headerComponent></headerComponent>
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import headerComponent from "./components/Header"
import sidebarComponent from "./components/Sidebar"
export default {
  components: { 
    headerComponent,
    sidebarComponent 
  }
}
</script>

<style lang="scss">

.app {
  height: 100vh;
 overflow: hidden;
}
.contenedor{
  height: 100%;
  display: flex;
  .sidebar{
    flex-basis: 20%;
  }
  .rutas{
    flex-basis:80%;
    height: inherit;
    overflow-y: scroll;
    background: #fff;
  }
}
</style>
